<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black-Home</title>
    <link rel="stylesheet" href="../css/blackhome.css">
</head>
<body>
    <header>
        <div class="left">
            <p>AQUA</p>
            <img class="water" src="../storage/img/blackhome/water.png" alt="water">
        </div>
        <div class="center">
            <a href="#">INICIO</a>
            <a href="#">COMO JUGAR</a>
            <a href="#">APÓYANOS</a>
            <a href="#">SOBRE NOSOTROS</a>
            <div class="center-img">
                <img class="moon" src="../storage/img/blackhome/moon.png" alt="moon">
                <img class="sun" src="../storage/img/blackhome/sun.png" alt="sun">
            </div>
        </div>
        <hr class="line1">
    </header>
    <section>
        <div class="letters">
            <img class="lettre1"src="../storage/img/blackhome/letra1.png" alt="">
            <img class="lettre2"src="../storage/img/blackhome/letra2.png" alt="">
            <img class="lettre3"src="../storage/img/blackhome/letra3.png" alt="">
            <img class="lettre4"src="../storage/img/blackhome/letra4.png" alt="">
        <div>
    </section>
    <section>
        <p class="info1">Somos creatividad, somos Crae</p>
        <p class="info2">Crae es un juego de cartas inclusivo donde personas videntes, no <br>videntes y con discapacidad visual pueden participar y disfrutar en <br>conjunto.</p>
    </section>
    <section>
            <img class="main_img" src="../storage/img/blackhome/main_img.png" alt="main_img">
            <button class="Comprar">Comprar</button>
    </section>
    <section>
        <div class="Play">
            <p class="textplay">¿Cómo jugar?</p>
            <p class="playdescription">Crae posee una modalidad de juego definidas <br>pero siempre apoyamos la creatividad y que <br>crees tus propias reglas y modalidades.</p>
        </div>
        <div class="1">1</div>
        <p>Uno de los jugadores hace de “creativo” en cada uno de los turnos. <br>Observa sus 6 cartas de la mano y, de una de ellas, debe construir <br>una frase, palabra o sonido y decirla en voz alta (sin mostrar la <br>carta a los otros jugadores). La frase puede ser inventada o puede <br>estar inspirada en la poesía, literatura, cine, etc. 
        </p>
        <div class="2">2</div>
        <p>Comenzamos el juego de izquierda a derecha. Selecciona una carta <br>que inspire tu frase y dila en voz alta. El resto de jugadores <br>seleccionará de entre sus cartas la que mejor se adapte a la frase <br>construida por el creativo.</p>
        <div class="3">3</div>
        <p>El objetivo de los jugadores es adivinar cuál de las cartas es la que <br>el creativo usó para construir su frase. Cada jugador vota de forma secreta la carta que cree que pertenece al creativo. Para ello,<br> coloca boca abajo frente a él un objeto que hayas <br>escogido previamente. </p>
        <div class="4">4</div>
        <p>
            - Si todos los jugadores aciertan la carta del creativo, todos los <br>jugadores excepto el creativo ganan 2 puntos. <br>
            - En cualquier otro caso, tanto el creativo como los jugadores que <br> hayan acertado, obtienen 3 puntos. <br>
            - Todos los jugadores ganan un punto por cada voto que reciba su <br>carta. 
        </p>
        <div class="5">5</div>
        <p>
            Cada jugador roba cartas hasta tener 6 en su mano. El juego <br>termina cuando se roba la última carta. El jugador que más lejos <br>haya llegado en la escala de puntuación es el ganador.
        </p>
    </section>
</body>
</html>